{% extends "base.html.twig" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 offset-2">
            <h1>{{ titre }}</h1>
            <hr/>
            <div class="card">
                <div class="card-header h5">OWASP Playground</div>
                <div class="card-body">
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-center">XSS</h5>
                                    <a class="stretched-link" href="/xss"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Commmand injections</h5>
                                    <a class="stretched-link" href="/command-injection"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-center">SQL Injection</h5>
                                    <a class="stretched-link" href="/sql-injection"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}

