{% extends "base.html.twig" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 offset-2">
            <h1>{{ titre }}</h1>
            <hr/>
            <div class="h-stack gap-2">
                <a class="btn btn-danger" href="/sql-injection">Back</a>
            </div>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Blind Attack</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="/sql-injection/blind" class="hstack gap-2 align-items-center">
                        <div class="col-8">
                            <input type="text" class="form-control" id="search" name="search" placeholder="Username">
                        </div>
                        <div class="col-2">
                            <button type="submit" name="submit" class="btn btn-primary">Search</button>
                        </div>
                    </form>
                    {% if result is not null %}
                        {% if result == true %}
                            <div class="alert alert-success mt-3" role="alert">
                                <h4 class="alert-heading">User found</h4>
                                <p>L'utilisateur existe !</p>
                            </div>
                        {% elseif result == false %}
                            <div class="alert alert-danger mt-3" role="alert">
                                <h4 class="alert-heading">User not found</h4>
                                <p>L'utilisateur n'existe pas !</p>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}