{% extends "base.html.twig" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-3">
            <h1>{{ titre }}</h1>
            <hr/>
        </div>
    </div>
   <div class="row">
       <div class="col-md-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Submit your email</h3>
                </div>
                <div class="card-body">
                    <form method="get" action="/xss/discover" id="emailForm">
                        <div class="mb-3">
                            <label for="emailField" class="form-label">Text</label>
                            <input type="text" class="form-control" id="emailField" name="email" aria-describedby="emailFieldHelp">
                            <div id="emailField" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            {% if email is not empty %}
               <div class="alert alert-success mt-3" role="alert">
                   {{email | raw}}
               </div>
           {% endif %}
       </div>
   </div>

{% endblock %}