{% extends "base.html.twig" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 offset-2">
            <h1>{{ titre }}</h1>
            <hr/>
            <div class="h-stack gap-2">
                <a class="btn btn-danger" href="/xss">Back</a>
                <a class="btn btn-warning" href="/tools/reset-db">Reset DB</a>
            </div>
            <hr/>
        </div>
    </div>
   <div class="row">
       <div class="col-md-8 offset-2">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Form</h3>
                </div>
                <div class="card-body">
                    <form action="" method="post" id="commentForm" autocomplete="off">
                        <div class="form-group">
                            <label for="name">Nom</label>
                            <input id="name" type="text" name="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="comment">Commentaire</label>
                            <textarea name="body" id="comment" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="d-grid gap-2">
                            <input class="btn btn-success mt-2" type="submit" name="submit">
                        </div>
                    </form>
                    <hr/>
                    <table class="table table-striped table-responsive table-bordered">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Commentaire</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for comment in comments %}
                            <tr>
                                <td>{{ comment.name | raw }}</td>
                                <td>{{ comment.body | raw }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
       </div>
   </div>

{% endblock %}