{% extends "base.html.twig" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 offset-2">
            <h1>{{ titre }}</h1>
            <hr/>
            <div class="h-stack gap-2">
                <a class="btn btn-danger" href="/">Back</a>
            </div>
            <hr/>
            <div class="card">
                <div class="card-header h5">Command Injection</div>
                <div class="card-body">
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Discovering command injections</h5>
                                    <a class="stretched-link" href="/command-injection/discover"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Exploit</h5>
                                    <a class="stretched-link" href="/command-injection/exploit"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}

